.container-cro {
    height: 40vh;
    width: 40vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    /* /* margin-left: 15vw; */
    margin-top: -38vh;
}

.container-cropper {
    height: 96%;
    padding: 10px;
    /* margin-bottom: 10vw; */
}

.cropper {
    height: 70%;
    position: relative;
    /* margin-bottom: 10vw; */
}

.slider {
    height: 10%;
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
}

.container-buttons {
    border: 1px solid #f5f5f5;
    font-size: 2px;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* margin-bottom:15vw; */
}